---
import './blog.css';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import Tags from '../components/Tags.astro';
import Back from '../components/Back.astro';
import { GITHUB_BASE_PAGE_URL, normalizePost, normalizePosts } from '../config';
export interface Props {
	content: {
		title: string;
		description: string;
		publish_date: string;
		updated_date?: string;
		img?: string;
		tags?: string[];
	};
}

const { content: rawContent } = Astro.props;
const content = normalizePost(rawContent);
const editUrl = `${GITHUB_BASE_PAGE_URL}/${Astro.url.pathname.endsWith('/') ? Astro.url.pathname.slice(0, -1) : Astro.url.pathname}.md`;
---

<!DOCTYPE html>
<html lang="en-us" class="dark">
	<head>
		<BaseHead title={content.title} description={content.description} image={content.img} />
	</head>

	<body
		class="bg-slate-900 text-slate-300/90 max-w-screen-lg px-6 pt-8 mx-auto"
	>
		<nav class="pb-16">
			<Back />
		</nav>
		<main>
			<article class="blog-content flex gap-1 flex-col">
				{content.tags && <Tags tags={content.tags} />}
				<h1>{content.title}</h1>
				{
					content.formatted_publish_date && (
						<time>{content.formatted_publish_date}</time>
					)
				}
				{
					content.formatted_updated_date && (
						<div>
							Last updated on <time>{content.formatted_updated_date}</time>
						</div>
					)
				}
				<hr />
				<slot />
			</article>

			<Footer editUrl={editUrl} />
		</main>
	</body>
</html>
