---
import BaseHead from '../components/BaseHead.astro';
import SocialLinks from '../components/SocialLinks.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import BlogCard from '../components/BlogCard.astro';
import { SITE_TITLE, SITE_DESCRIPTION, normalizePosts } from '../config';
const posts = normalizePosts(await Astro.glob('./**/*.{md,mdx}'));
const socialLinks = [
	{ title: 'Twitter', url: 'https://twitter.com/cu_galaxy' },
	{ title: 'GitHub', url: 'https://github.com/barbados-clemens' },
	{ title: 'LinkedIn', url: 'https://www.linkedin.com/in/caleb-ukle/' },
	{
		title: 'Discogs',
		url: 'https://www.discogs.com/user/Barbados_Clemens/collection',
	},
];
---

<!DOCTYPE html>
<html lang="en-us" class="dark">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="bg-gray-900">
		<Header title={SITE_TITLE} description={SITE_DESCRIPTION}>
			<nav class="py-8 flex gap-2 place-content-center">
				<SocialLinks links={socialLinks} />
			</nav>
		</Header>
		<main class="max-w-screen-sm mx-auto pt-8 border-t-2 border-gray-300/80">
			{
				posts.map((p) => (
					<BlogCard
						title={p.frontmatter.title}
						description={p.frontmatter.description}
						link={p.url}
						author={p.frontmatter.author}
						publish_date={p.frontmatter.formatted_publish_date}
						tags={p.frontmatter.tags || []}
					/>
				))
			}
		</main>
		<Footer />
	</body>
</html>
