---
import SocialLinks from '../components/SocialLinks.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import {
	SITE_TITLE,
	SITE_DESCRIPTION,
	normalizePosts,
	GITHUB_BASE_PAGE_URL,
} from '../config';
import { basename } from 'path';
import BlogListLayout from '../layouts/BlogListLayout.astro';
const posts = normalizePosts(await Astro.glob('./**/*.{md,mdx}'));
const editUrl = `${GITHUB_BASE_PAGE_URL}/${basename(import.meta.url)}`;
---

<BlogListLayout {posts} title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<Header
		slot="before-content"
		title={SITE_TITLE}
		description={SITE_DESCRIPTION}
	>
		<nav class="py-8 flex gap-2 place-content-center">
			<SocialLinks />
		</nav>
	</Header>
	<Footer slot="after-content" {editUrl} />
</BlogListLayout>
